body {
    text-align: center;
}

.digit {
    display: inline-block;
    font-size: 80px;
}

.redDigit {
    color: red;
}

fieldset {
    margin: 20px auto;
    text-align: center;
    width: 500px;
    padding: 20px;
}

.btncon button {
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 40% 0;
    border: 2px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 20px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    outline: none;
}

.btncon button:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.btncon button:active {
    position: relative;
    top: 1px;
}